# This is a basic workflow to help you get started with Actions

name: Destroy infra

# Controls when the workflow will run
on:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "destroy"
  destroy:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      # Check out the repository so we can access the code
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up Terraform
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.0

      - name: Create gcp_key.json
        run: |
          echo '${{ secrets.GCP_CREDENTIALS_JSON }}' > /tmp/gcp_key.json

      - name: Set environment variables for service_account_email and project_id
        run: |
          echo "TF_VAR_service_account_email=${{ vars.SERVICE_ACCOUNT_EMAIL }}" >> $GITHUB_ENV
          echo "TF_VAR_project_id=${{ vars.PROJECT_ID }}" >> $GITHUB_ENV
          echo "TF_VAR_bucket_name=${{ vars.BUCKET_NAME }}" >> $GITHUB_ENV

      - name: Initialize Terraform
        run: |
          cd terraform/environments/default
          terraform init \
            -backend-config="bucket=${{ vars.BUCKET_NAME }}" \
            -backend-config="prefix=terraform/state" \
            -backend-config="credentials=/tmp/gcp_key.json"

      - name: Run Terraform destroy
        run: |
          cd terraform/environments/default
          terraform destroy -var-file=variables.tfvars -auto-approve
